
<div class = "container">
    <div class = "row">
        <header class = "jumbotron">
        <h3 style = "text-align: center">Store orders</h3>
        <div style = "width:100%; margin: 25px auto;" >
            <form [formGroup]="ordersInfo" (ngSubmit)="storeOrdersDetails()">
                <div class = "form-group">
                    <label>Customer id</label>
                    <input class = "form-control" type = "text"  formControlName="cid" placeholder = "Customer id"/>
                </div>
                <div class = "form-group">
                    <label>Product Id</label>
                    <input class = "form-control" type = "text"  formControlName="pid"placeholder = "Product Id" >
                </div>
                <div class = "form-group">
                    <label>Courrier Id</label>
                    <input class ="form-control" type = "text"  formControlName="coid" placeholder = "Courrier Id">
                </div>
                <div class = "form-group">
                    <label>Order Id</label>
                    <input class ="form-control" type = "text"  formControlName="oid" placeholder = "Order Id">
                </div>
                <div class = "form-group">
                    <label>Delivery Status</label>
                    <input class ="form-control" type = "text" formControlName="deliveryStatus" placeholder = "Delivery Status">
                </div>
                <div class = "form-group">
                    <label>Quantity</label>
                    <input class ="form-control" type = "text" formControlName="quantity" placeholder = "Quantity">
                </div>
                <div class = "form-group">
                    <label>Order Date</label>
                    <input class ="form-control" type = "date" formControlName="orderDate" placeholder = "Order Date">
                </div>
                <div class = "form-group">
                    <label>Price</label>
                    <input class ="form-control" type = "number" formControlName="price" placeholder = "Price">
                </div>
                <div class = "form-group">
                    <button class = "btn  btn-primary"> Upload! </button>
                </div>&nbsp;
                
                <br/>
                {{msg}}<br/>
            </form> 
            <a href = "/" style="color:blue">Go Back</a>
           
        </div>

