


        <header class = "jumbotron">
            <div class = "container">
                <div class = "row">
                    <h1 style = "text-align: center">Forgot Password</h1>
                    <div style = "width:50%; margin: 10px auto;">


        <form action="/forgot" method="POST">
            <legend>Forgot Password</legend>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" autofocus class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Reset Password">
            </div>
        </form>

                        <form action="/forgot" method="POST" #custRef="ngForm" (ngSubmit)="updateCustomersInfo(custRef.value)" >
       
            <div class="form-group">
                <label for="username">UserId</label>
                <input type="text" name="cid" autofocus class="form-control" placeholder="UserId" ngModel>
            </div>
            <div class="form-group">
                <label for="Password">New Password</label>
                <input type="password" name="password" autofocus class="form-control" placeholder="Password" ngModel>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Reset Password">
            </div>

            {{msg}}
        </form>

        <a href = "/" style="color:blue">Go Back</a>

        </div>
                </div>
</div>
        </header>