<div>
    <!-- <h2>All Courrier Details</h2> -->
    <!--<input type="button" value="Price by Descending" (click)="loadDataDescCourrier()"/>-->
    <div class="container">
        <div class="row">
            <header class="jumbotron">
                <h2 style="text-align: center">Courriers By Descending Order</h2>
                <div style="width: 100%; margin: 25px auto;">
    <div *ngIf="flag">
        <table border="1" align="center"  class="table table-bordered">
            <tr>
                <th scope="col">Courrier Id</th>
                <th scope="col">Address</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Price</th>
            </tr>
        <tr *ngFor="let courrier of courrierInfo">
            <td>{{courrier.coid}}</td>
            <td>{{courrier.address}}</td>
            <td>{{courrier.deliveryDate}}</td>
            <td>{{courrier.cname}}</td>
            <td>{{courrier.price}}</td>

        </tr>

    </table>
</div><br> <br>
<a href="courrier/show" style="color:blue">Go Back</a>
</div>
</header>
</div>
</div>
</div>