<div>
    <div class = "container">
        <div class = "row">
            <header class = "jumbotron">
            <h3 style = "text-align: center">Delete Product</h3> 
            <div style = "width:100%; margin: 25px auto;">
    <form align="center">
    
    
    <div class = "form-group">
        <input type="text" #pIdRef><br/><br/><br/>
        <input class = "form-control" type="button" value="Delete!" class="btn btn-danger" (click)="deleteProduct(pIdRef.value)" placeholder="Product ID">
        
    </div>
    <br/>
    {{msg}}
</form>
<a href = "/home" style="color:blue">Go Back</a>
               
            </div>
      
            </header>
        </div>
    
        </div>
</div>