
<div class = "container">
    <div class = "row">
        <header class = "jumbotron">
        <h3 style = "text-align: center">Store orders</h3>
        <div style = "width:100%; margin: 25px auto;" >
            <form [formGroup]="supplierInfo" (ngSubmit)="storeSupplierDetails()">
                <div class = "form-group">
                    <label>Supplier id</label>
                    <input class = "form-control" type = "text"  formControlName="sid" placeholder = "Supplier id"/>
                </div>
                <div class = "form-group">
                    <label>Supplier Name</label>
                    <input class = "form-control" type = "text"  formControlName="sname" placeholder = "Supplier Name" >
                </div>
                 <div class = "form-group">
                    <label>Supplier Username</label>
                    <input class = "form-control" type = "text"  formControlName="username" placeholder = "Supplier username" >
                </div>
                 <div class = "form-group">
                    <label>Supplier password</label>
                    <input class = "form-control" type = "text"  formControlName="password" placeholder = "Supplier password" >
                </div>
                 <div class = "form-group">
                    <label>Supplier address</label>
                    <input class = "form-control" type = "text"  formControlName="address" placeholder = "Supplier address" >
                </div>
                 <div class = "form-group">
                    <label>Supplier Phoneno</label>
                    <input class = "form-control" type = "text"  formControlName="phone" placeholder = "Supplier phoneno" >
                </div>
               
                <div class = "form-group">
                    <button class = "btn  btn-primary"> Upload! </button>
                </div>&nbsp;
                
                <br/>
                {{msg}}<br/>
            </form> 
             <a href = "/supplier/retrieve" style="color:blue">Go Back</a>
           
        </div>

