
<div>
    <div class = "container">
        <div class = "row">
            <header class = "jumbotron">
            <h3 style = "text-align: center">Update Orders </h3> 
            <div style = "width:100%; margin: 25px auto;">
    
    
    
                <form #ordersRef="ngForm" (ngSubmit)="updateOrdersInfo(ordersRef.value)" >
                    <div class = "form-group">
                        <label>Order Id</label>
                        <input class = "form-control" type = "text"   placeholder = "Order id" name="oid" ngModel/>
                    </div>
                    <div class = "form-group">
                        <label>Delivery Status</label>
                        <input class = "form-control" type = "text"   placeholder = "Delivery Status" name="deliveryStatus" ngModel >
                    </div>
                    <div class = "form-group">
                        <label>Quantity</label>
                        <input class ="form-control" type = "text"   placeholder = "Quantity" name="quantity" ngModel>
                    </div>
                    <div class = "form-group">
                        <label>Order Date</label>
                        <input class ="form-control" type = "date"   placeholder = "Order Date" name="orderDate" ngModel>
                    </div>
                    <div class = "form-group">
                        <label>Price</label>
                        <input class ="form-control" type = "text"  placeholder = "Price" name="price" ngModel>
                    </div>
                    
                    <div class = "form-group">
                        <button class = "btn  btn-warning"> Update! </button>
                    </div>&nbsp;
                    
    
                </form>
                    {{msg}}<br/><br/>
                <a href = "/orders/show" style="color:blue">Go Back</a>
               
            </div>
      
            </header>
        </div>
    
        </div>
    </div>
