<div>
    <!-- <h2>Customer Details</h2> -->
    <!--<input type="button" value="Load Customer Data" (click)="loadData()"/>-->
    <div class="container">
        <div class="row">
            <header class="jumbotron">
                <h1 style="text-align: center">Show All Customers</h1>
                <div style="width: 100%; margin: 25px auto;">
                <!-- <input type="button" value="Store" class="btn btn-success" routerLink="/customer/new">&nbsp; -->
    <div *ngIf="flag">
        <table border="1" align="center"  class="table table-bordered">
        <tr>
            <th scope="col">CId</th>
            <th scope="col">CName</th>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <!-- <th scope="col">Update</th>
            <th scope="col">Delete</th> -->
        </tr>
        <tr *ngFor="let customer of customerInfo">
            <td>{{customer.cid}}</td>
            <td>{{customer.cname}}</td>
            <td>{{customer.username}}</td>
            <td>{{customer.password}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.address}}</td>  
            <!-- <td><input type="button" value="Update" class="btn btn-warning" routerLink="/customer/update">&nbsp;</td>
            <td><input type="button" value="Delete" class="btn btn-warning" routerLink="/customer/delete">&nbsp;</td> -->
        </tr>
    </table>
</div><br> <br>
<a href="/home" style="color:blue">Go Back</a>
</div>
</header>
</div>
</div>
</div>