
<div>
<div class = "container">
    <div class = "row">
        <header class = "jumbotron">
        <h1 style = "text-align: center">Edit product</h1> 
        <div style = "width:100%; margin: 25px auto;">



            <form #productRef="ngForm" (ngSubmit)="updateProductInfo(productRef.value)" >
                <div class = "form-group">
                    <label>Product Id</label>
                    <input class = "form-control" type = "text"   placeholder = "product id" name="pid" ngModel/>
                </div>
                <!-- <div class = "form-group">
                    <label>Product Name</label>
                    <input class = "form-control" type = "text"   placeholder = "product name" name="pname" ngModel >
                </div> -->
                <div class = "form-group">
                    <label>Product Status</label>
                    <input class ="form-control" type = "text"   placeholder = "status" name="status" ngModel>
                </div>
                <div class = "form-group">
                    <label>Product Stock</label>
                    <input class ="form-control" type = "text"   placeholder = "stock" name="stock" ngModel>
                </div>
                <div class = "form-group">
                    <label>Product Price</label>
                    <input class ="form-control" type = "text"  placeholder = "Price" name="price" ngModel>
                </div>
                <!-- <div class = "form-group">
                    <label>Product Image</label>
                    <input class ="form-control" type = "text"  placeholder = "image" name="image" ngModel>
                </div> -->
                <div class = "form-group">
                    <button class = "btn  btn-warning"> Update! </button>
                </div>

            </form>
                {{msg}}<br/><br/>
            <a href = "/" style="color:blue">Go Back</a>
           
        </div>
  
        </header>
    </div>

    </div>
</div>